@import "@/theme/breakpoints.scss";
@include breakpoint(medium) {
  ion-tab-bar {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    place-content: flex-start;
    display: flex;
    gap: 5px;
  }

  ion-tab-button {
    max-height: 60px;
    width: 100%;
    padding: 0px;
    ion-icon {
      margin-left: 0px;
      margin-right: 20px;
    }
    ion-label {
      font-size: 20px;
    }
  }

  .tab-button-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
  }
}
